# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/
.env

# Django
staticfiles/
media/

# Testing
.coverage
htmlcov/
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

schema.yml
config/settings_backup.py